* {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	transform: 0.5s;
}

table {

	border:none;
	color:$blue;

	th {
		text-transform: uppercase;
		font-size:1.4rem;
		padding-bottom: 1em;
	}

	td, th {
		border:none;
		text-align: center;
	}

	tbody {

		tr {
			background-color: white;
			transition: 0.5s;

			&:hover {
				background-color: $lightgray;
			}

			td, th {
				border-bottom:1px solid $lightgray;
			}
		}

		tr:first-child {
			td:first-child {
				border-top-left-radius: 5px;
			}
			td:last-child {
				border-top-right-radius: 5px;
			}
		}

		tr:last-child {
			td:first-child {
				border-bottom-left-radius: 5px;
			}
			td:last-child {
				border-bottom-right-radius: 5px;
			}
		}
	}

}

button, .button {
	display: block;
	background-color:white;
	cursor: pointer;
	border-radius: 5px;
	font-size:1.3rem;
	text-transform: uppercase;
	color: $gray;
	padding: 1em;
	border-width: 1px;
	border-style: solid;

	&:hover {
		background-color: $lightgray;
	}
}

.button-warning {
	background-color: #e59b2c;
	border-color: #dc881b;
	color: #fff;

	&:hover {
		background-color: #d31a48;
		border-color: #bd1740;
		color: #fff;
	}
}

.button-danger {
	background-color: #e52c5a;
	border-color: #dc1b4b;
	color: #fff;

	&:hover {
		background-color: #d31a48;
		border-color: #bd1740;
		color: #fff;
	}
}

@mixin whitetile {
	background-color: white;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 45px;

	* {
		font-size:1.3rem;
	}

	h2 {
		font-size: 1.4rem;
		text-transform: uppercase;
		color: #95a5a6;
		border-bottom: 1px solid #ecf0f1;
		padding-bottom: 10px;
	}

	h3 {
		text-transform: uppercase;
		border-bottom:1px solid;
		font-size: 1.2rem;
		display: inline-block;
	}

}

.whitetile {
	@include whitetile;
}

.whitetilebox {

	margin: 45px;

	> * {
		@include whitetile;
	}
}


@mixin subnav {
	nav {

		padding:0 45px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 600;
		background-color: white;

		ul {
			list-style: none;
			display: flex;
			margin:0;
			padding:0;

			li {
				margin-right: 3em;
			}

			a {
				display: block;
				text-decoration: none;
				transition:0.5s;
				padding: 0 10px 5px 10px;
				border-bottom: 3px solid white;

				&.active, &:hover {
					border-bottom-color:$green;
				}

				&:hover {
					color: $green;
				}
			}
		}
	}
}