@import 'colors';
@import 'tooltips';

.activity_list {
	padding:45px;
	table {
		border-radius: 5px;

		tbody {
			font-size: 1.4rem;

			td {
				vertical-align: middle;
			}
		}
		
	}

	.zmdi-check-circle {
		color: $green;
	}
	.zmdi-alert-circle {
		color: red;
	}
}