@import 'colors';

.calendar{
	.day-event {
		border:1px solid $gray;
		// background-color: $blue;
	}

	.calendar-header {
		width: 450px;
		margin:0;
		th, td {
			margin:0;
			padding:0;
		}
	}

	.table-wrapper {
		height:400px;
		overflow-y: scroll;
		width: 465px;
	}

	table {

		width: auto;

		tbody tr td {
			padding:1px;
			border:1px solid $lightgray;
		}
		tbody tr:hover {
			background-color: white;
		}

		tr.last-row-of-month td.td-border-bottom {
			border-bottom: 2px double;
		}
		tr.last-row-of-month td.td-border-top {
			border-top: 2px solid;
			border-top-style: double;
		}
		td.td-border-top.td-first-day-of-month {
			border-left: 2px double;
		}
	}

	.day-list {
		min-height: 52px;
		display: none;
	}

	.day-slot {
		text-align: center;
		padding:5px;
	}

	.day-day {
		text-align: center;
		height: 50px;
		width: 50px;
		padding-top:12px;
		border-radius: 50%;
		background-color: $lightgray;
		position: relative;

		span.day-month {
			position: absolute;
			font-size: 8px;
			top: 1px;
			left: 0;
			text-align: center;
			width: 100%;
			color:$lightgray;
		}
		span.day-year {
			position: absolute;
			font-size: 8px;
			bottom: 2px;
			left: 0;
			text-align: center;
			width: 100%;
			color:$lightgray;
		}



		&.selected {
			background-color:$blue;
			color:white;
			span {
				color:white;
			}

		}


	}

	.td-first-day-of-month .day-day {

		span {
			color: $blue;
		}

		&.selected span {
			color:white;
		}
	}
}

// .calendar2 {


// }