@import 'colors';
@import 'tooltips';

.home-profil {

	padding: 25px 45px 0;
	background-color: white;
	color: $gray;

	h1 {
		text-transform: uppercase;
		font-size: 2rem;
		color:black;
	}

	p {
		line-height: 1em;
	}

	img {
		float:left;
		width: 100px;
		margin-right: 30px;
	}

	.shortcuts {
		
		text-align: right;

		i.zmdi {
		    font-size: 2em;
			border: 3px solid;
			padding: 3px;
			border-radius: 50%;
			width: 45px;
			height: 45px;
			text-align: center;
			margin-left:10px;
			transition: 0.5s color;

			&:hover {
				color: $green;
			}
		}

		// i.zmdi-edit {
		// 	background-color: gray;
		// 	line-height: 1em;
		// 	border-radius: 55%;
		// 	width: 40px;
		// 	height: 40px;
		// 	font-size: 22px;
		// 	padding: 10px;
		// }

	}

	.tab-nav {

		margin-top:2em;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 600;

		ul {
			list-style: none;
			display: flex;
			margin:0;
			padding:0;

			li {
				margin-right: 3em;
			}

			a {
				display: block;
				text-decoration: none;
				transition:0.5s;
				padding: 0 10px 5px 10px;
				border-bottom: 3px solid white;

				&.active, &:hover {
					border-bottom-color:$green;
				}

				&:hover {
					color: $green;
				}
			}
		}
	}

}


@mixin littletile($color) {
	
	background-color: white;
	border-radius: 5px;
	color: $gray;

	.header {

		.active {
			color:$color;
		}

		> div:not(.active) {
			background-color: $lightgray;
		}

		.number {
			font-size:5rem;
			font-weight: bold;
		}
		.number_legend {
			text-transform: uppercase;
			font-size: 1.1rem;
			padding-bottom: 10px;
		}
		
	}

	.row {
		border-bottom: 1px solid $lightgray;
		font-size:1.3rem;
		a, p.rest {
			display: block;
			padding:10px 15px;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			border-left: 3px solid transparent;
			transition: 0.5s;

			i.zmdi {
				padding-right:5px;
			}

			&:hover {
				border-left-color:$color;
			}
		}
	}

	> i {
		width: 100%;
		font-size: 10rem;
		text-align: center;
	}

	.more {
		font-size: 1rem;
		padding: 5px 10px;
		text-align: right;
	}
}

.home-content {

	padding:45px;

	> div {
		margin-bottom: 45px;
	}

	.workouts {
		@include littletile(orange);
	}

	.todo {
		@include littletile(#8e44ad);
	}

	.to-comment {
		@include littletile(#16a085);
	}

	.workout {

		@include whitetile;

	}

}