@import 'colors';

$slot-default: #3F51B5;

$slot-type1: #E57373;
$slot-type2: #9575CD;
$slot-type3: #AED581;
$slot-type4: #90A4AE;
$slot-type5: #FF8A65;

@mixin slot-color {

	line-height: 5px;
	&:not(.slot-empty) { background-color:$slot-default; }

	&.slot-type-entretien {
		background-color:$slot-type1;
	}
	&.slot-type-force {
		background-color:$slot-type2;//#64B5F6;
	}
	&.slot-type-endurance {
		background-color:$slot-type3;
	}
	&.slot-type-repos {
		background-color:$slot-type4;
	}
	&.slot-type-forme {
		background-color:$slot-type5;
	}
}

.planning {

	table {

		border:none;

		thead {
			th[colspan] {
				color:$green;
				text-align: left;
				text-transform: capitalize;
			}
		}

		th {
			text-transform: uppercase;
			font-size:1.1rem;
			padding-bottom: 1em;
		}

		td, th {
			border:none;
			text-align: center;
			padding: 0;
		}

		tbody {

			tr {
				background-color: white;
				transition: 0.5s;

				&:hover {
					background-color: inherit;
				}
			}

			tr:first-child {
				td:first-child {
					border-top-left-radius: 2px;
				}
				td:last-child {
					border-top-right-radius: 2px;
				}
			}

			tr:last-child {
				td:first-child {
					border-bottom-left-radius: 2px;
				}
				td:last-child {
					border-bottom-right-radius: 2px;
				}
			}
		}

	}

	td:not([colspan]) {
		// cursor:pointer;
		&:hover {
			background-color: lightgrey;
		}
		&.selected, &.today {
			// background-color: #42A5F5;
			font-weight: bold;
		}
		&.selected {
			text-decoration: underline;
		}
	}

	td:not(.day):hover {
		background-color: inherit;
	}

	td > div {
		position: relative;
	}

	.slot {
		@include slot-color;
	}

	.legend {
		text-align: left;
		padding-top: 5px;
		span {
			height: 5px;
			width: 20px;
			margin-right: 0.5em;
		    display: inline-flex;
			@include slot-color;
		}
	}

	&.full-screen {
		table {
			 td {
				padding:0 0 2em;
			 }
			 thead {
				th[colspan] {
					font-size: 2rem;
				}
			}
			.month-label {
				color: #2ecc71;
				text-align: right;
				text-transform: capitalize;
				font-weight: bold;
				font-size: 1.5rem;
			}
		}
		table div.slot {
			padding: 0.5em 0;
			min-height: 1.5em;
		}
	}

	.day .day-workouts {
		text-align: left;
		padding: 2px;
		word-break: break-word;
		position: relative;

		> div {
			padding: 2px 0;
		}

		.workout-bubble {
			display: none;
		}
	}
}

#overlay-container {
	
	position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;

	> div {
		font-size: 0;
		line-height: 0;
		position: absolute;
		background: $blue;
		opacity: .5;
	}
}

#bubble {
	> div {
		position: absolute;
		font-size: 1.5rem;

		.arrow_box {
			position: relative;
			background: #ffffff;
			border: 1px solid 1px solid rgb(168, 170, 171);
			padding: 10px;

			-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
			box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
		}
		.arrow_box:after, .arrow_box:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		.arrow_box:after {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 10px;
			margin-left: -10px;
		}
		.arrow_box:before {
			border-color: rgba(75, 87, 94, 0);
			border-top-color: #4b575e;
			border-width: 11px;
			margin-left: -11px;
		}
	}
}

@media (min-width: 544px) {
	.planning [class*="grid-3"].has-gutter > * {
		width: calc(100% / 3 - 3rem - 0.01px);
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
}