
@import 'colors';
@import 'tooltips';

@mixin littletile($color) {
	
	background-color: white;
	border-radius: 5px;
	color: $gray;

	.header {

		color:$color;

		.number {
			font-size:5rem;
			font-weight: bold;
		}
		.number_legend {
			text-transform: uppercase;
			font-size: 1.1rem;
			padding-bottom: 10px;
		}
		
	}

	.row {
		border-bottom: 1px solid $lightgray;
		font-size:1.3rem;
		a, p.rest {
			display: block;
			padding:10px 15px;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			border-left: 3px solid transparent;
			transition: 0.5s;

			i.zmdi {
				padding-right:5px;
			}

			&:hover {
				border-left-color:$color;
			}
		}
		
	}

	.more {
		font-size: 1rem;
		padding: 5px 10px;
		text-align: right;
	}
}


.workout {
	@include subnav;
}

.workout-content {

	padding:45px;

	> * {
		margin-bottom: 45px;
		@include whitetile;
	}

	a.button i {
		float:right;
	}

	.workouts-today {
		@include littletile(orange);
	}

	.workouts-tommorow {
		@include littletile(#8e44ad);
	}

	// .workout {
		
	// }

	// .workout-creator {
	// 	padding:1em;
	// }

}