{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=home.scss">
{% endblock css %}

{% block content %}

	{% set route_name = 'home_me' %}
	{% include "home/home.profil.html.twig" %}

	<section class="whitetilebox">

		<div>

			<h2>Zones cardiaques</h2>

			<table>
				<thead>
					<tr>
						<th>Zone #</th>
						<th>Min</th>
						<th>Max</th>
					</tr>
				</thead>
				<tbody>
					{% for zone in zones.heart_rate.zones %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{zone.min}}</td>
						<td>{{zone.max}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

	</section>

{% endblock %}