{% extends "lab/layout.html.twig" %}

{% block subcontent %}

		<section>
			<h2>Direction du vent à Guipavas</h2>

			<p><i style="transform:rotate({{ weather.wind.direction.value }}deg)" class="zmdi zmdi-long-arrow-down wind-direction"></i></p>
			<p>Force : {{ (weather.wind.speed.value) * 3.6}} km/h

			<p><b>raw</b></p>
			<blockquote><pre>{{dump(weather.wind)}}</pre></blockquote>
		</section>
	

{% endblock subcontent %}