
	<div class="">
	<form onsubmit="return false;">

		<label>Titre</label>
		<input type="text" ng-model="wcr.meta.title" placeholder="Seuil type CLM">

		<label>Date</label>
		<input name="workoutdate" type="date" placeholder="Date" ng-model="wcr.meta.date"/>

		<label>Description de l'activité</label>
		<textarea ng-model="wcr.meta.content" name="content" placeholder="Description de l'activité"></textarea>

		<hr>

		<button ng-click="wcr.save()">Enregistrer</button>

	</form>

		<div id="workout">
			
			<workout wcr="wcr" steps="wcr.steps"></workout>

			<div class="" ng-click="wcr.addStep(wcr.steps)">Ajouter une étape</div>
			<div class="" ng-click="wcr.addRepetition(wcr.steps)">Ajouter une répétition</div>
		</div>

		<canvas ng-hide="1" id="graph-ride" width="500" height="200" class="chart chart-line">
		</canvas>

	</div>