
{% extends "layout.html.twig" %}

{% block h1title %}Liste data{% endblock %}

{% block content %}

	<table border=1>
		<tr>
			<th>Name</th>
			<th>State</th>
		</tr>

		{% for a in activities %}
		<tr>
			<td>{{ a.name }}</td>
			<td>{{ helper.is_saved_data(a.id) }}</td>
		</tr>
		{% endfor %}
	
	</table>

{% endblock content %}