
{% extends "layout.html.twig" %}

{% block h1 %}
	Liste Strava
{% endblock h1 %}

{% block content %}

	{% set sem = time|date('W') %}
	<p>{{sem}}</p>

	{% set dt = last.start_date_local|date %}
	{% set sem_end = dt|date('W') %}

	{% set a = "monday this week"|date %}
	
	$a->sub(new DateInterval('P'.($sem-$sem_end).'W'));

	$acts_by_date = [];

	foreach($activities as $a) {
		$dt = new DateTime($a->start_date_local);
		$acts_by_date[$dt->format('d/m/Y')][] = $a;
	}

	echo '<table border=1><tr><th>Sem.</th><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th><th>Samedi</th><th>Dimanche</th></tr><tr>';

	$max = (($sem-$sem_end)+1) * 7;
	$cd = new DateTime(('sunday this week')); // CurrentDate
	$P1D = new DateInterval('P1D');
	$P6D = new DateInterval('P6D');

	for($i=0;$i<$max;++$i) {

		if( $i%7 === 0) { //  && 7==$cd->format('N')
			echo '<td>'.$cd->format('W').'</td>';
			$cd->sub($P6D);
		}

		$f = $cd->format('d/m/Y');
		echo '<td>'.$cd->format('d/m');
		if(array_key_exists($f,$acts_by_date)) {
			foreach($acts_by_date[$f] as $a) {
				echo '<p>Act : <a href="?c=strava_detail&id='.$a->id.'">'.$a->name.'</a></p>';
			}
		}
		echo '</td>';

		if( 7 == $cd->format('N')) {
			echo '</tr><tr>';
			$cd->sub(new DateInterval('P8D'));
		}

		$cd->add($P1D);
	}

	echo '</tr></table>';
{% endblock content %}