
{% extends "layout.html.twig" %}

{% block h1 %}
	Configuration
{% endblock h1 %}

{% block content %}
	
	<form action="" method="POST"><input type="hidden" name="create" value="create"/>
	<label for="formCreateConfName">
		Nom de la configuration
		<input type="text" name="formCreateConfName"/>
	</label>
	<label for="formCreateConfValue">
		Valeur de la configuration
		<input type="text" name="formCreateConfValue"/>
	</label>
	<input type="submit" value="Creer"/>
	</form>

	<hr>

	{% for k,v in conf %}
	<form action="/configuration" method="POST">
		<input type="hidden" name="edit" value="{{k}}"/>
		<label for="formConfValue">
			{{k}}
			<input type="text" name="formConfValue" value="{{v}}"/>
		</label>
		<input type="submit" value="Modifier"/>
	</form>	
	{% endfor %}

{% endblock content %}
