{% extends "workout/layout.html.twig" %}

{% block subcontent %}

	<div class="workout-content">

		<form method="POST" class="workout-creator" action="{{route('workout_add')}}">
			Titre : <input type="text" name="title" value="PPG" />
			Date : <input type="date" name="workoutdate" />
			<fieldset>
				<legend>Contenu de la séance</legend>
				<textarea name="content"></textarea>
			</fieldset>

			<input type="hidden" name="type" value="ppg" />
			<input type="submit" name="submit" value="Ajouter" />
		</form>

	</div>

<style>

	#workout {
		width: 40%;
	}

</style>

{% endblock subcontent %}
