{% extends "workout/layout.html.twig" %}

{% block subcontent %}

	<section>

		<form action="{{route('workout_edit', [w.uuid])}}" method="POST">

			<label>Nom</label>
			<input type="text" name="title" value="{{w.title}}">

			<label>Date</label>
			<input name="date" type="date" value="{{w.date|date('Y-m-d')}}" >

			<label>Type</label>
			<select name="type" placeholder="Type de l\'entrainement">
				<option value="ppg"{% if type == 'ppg' %} selected="selected"{% endif %}>PPG</option>
				<option value="ride"{% if type == 'ride' %} selected="selected"{% endif %}>Entrainement</option>
				<option value="race"{% if type == 'race' %} selected="selected"{% endif %}>Course</option>
			</select>

			<label>Description</label>
			<textarea name="content" placeholder="Description de l\'entrainement">{{w.content}}</textarea>

			<label>Notes</label>
			<textarea name="notes">{{w.notes}}</textarea>

			<label>Durée</label>
			<input name="duration" type="time" value="{{w.duration}}" step="1"/>

			<label>Difficultée</label>
			<select name="difficulty">
				<option>-</option>
			{% for i in 1..10 %}
				<option value="{{i}}"{% if w.difficulty == i %} selected="selected"{% endif %}>{{i}}</option>
			{% endfor %}
			</select>

			<input type="submit" value="Enregistrer">
		</form>

	</section>

{% endblock subcontent %}