{% extends "layout.html.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css?p=workout.scss">
{% endblock css %}

{% block h1_title %}
	Workouts
{% endblock h1_title %}

{% block content %}

	<div class="workout">

		<nav>
			<ul>
				<li>
					<a{% if route_name == 'workout' %} class="active"{% endif %} href="{{route('workout') }}">Dashboard</a>
				</li>
				<li>
					<a{% if route_name == 'workout_list' %} class="active"{% endif %} href="{{route('workout_list')}}">Liste</a>
				</li>
				<li>
					<a{% if route_name == 'workout_creator' %} class="active"{% endif %} href="{{route('workout_creator')}}">Nouveau</a>
				</li>
			</ul>
		</nav>

		<div class="workout-content">
			{% block subcontent %}{% endblock subcontent %}
		</div>
	
	</div>

{% endblock content %}